{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center mb-3">Quizzes</h1>
    {% if latest_test_list %}
        {% for test in latest_test_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="lead">{{ test.test_text }}</p>
                    <a href="{% url 'quizzes:detail' test.id %}" class='btn btn-primary btn-sm'>Start now</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-8 offset-2">
                <p>No quizzes available</p>
            </div>
        </div>
    {% endif %}
{% endblock %}